@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@font-face {
	font-family: 'digi';
	src: url('DS-DIGII.TTF');
}

html, body {
	width: 100%;	
	height: 100%;
	font-size: 100%;
}

body {
	background: #B9B7B1;
	background-image: radial-gradient(
		center 0,
		white,
		#B9B7B1
	);
	font-family: Garamond, EB Garamond;
}

@media only screen and (max-width: 400px) {
    body { font-size:90%;}
}
 
@media only screen and (max-width: 1100px) {
    body { font-size:120%;}    
}

@media only screen and (min-width: 1100px) {
    body { font-size:120%;}
    .wrap {max-width:770px;}
} 

@media screen (max-width: 768px) {
	body { font-size: 95%; }
	.signup {
		width: auto;		
		font-size: 4em;
	}
	
}

.container {
	background: white;
}

.container-fluid{
	background: white;
	margin-left: 1em;
	margin-right: 1em;
	width: 95%;
}

.facebook {
	height: 600px;
}

.signup {
	background: #B9B7B1;
	font-size: 1.75em;
	line-height: 100%;
	float: left;
	color: black;
	margin: 0.5em;
	padding: 0.5em;	
}

.counter{
	font-family: 'digi';
	display: inline block;
	margin: 0.2em 0.1em 0.2em 0.15em;
	font-size: 11.7vh;
	line-height: 100%;
	text-shadow: 0.03em 0.03em 0.03em #fff;
	color: #000;
	box-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,.3);
    background: -webkit-linear-gradient(red, white);
    background: -moz-linear-gradient(red, white);
    border-radius: 0.1em;
}

a {
	color: black; 
}

li {
	padding-top: 2em;
}

.subheader{
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.3em;
	padding: 0.5em;
}

.instagram{
	font-size:3vmin;
	margin-top: 0.1em; 
	margin-bottom: 0.1em;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

img { max-width: 100%; height: auto; }

@media (max-width: 800px){
	img { width: 50%; height: auto;}
}

.imgheader {
	margin: 1em;
	padding: 1em;
	display: block;
	
}

.text-content {
	font-size: 1.3em;
}

.tab-text {
	margin-left: 1em;
	line-height: 110%;
}

.modal.fade.in{
	top: 20%
}

label.valid {
	width: 24px;
	height: 24px;
	background: url(../images/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}