@(counter: String)

<div class="row">				
	<div class="span12">
		<div class="imgheader">
			<img src="@routes.Assets.at("images/stoppoverty_ny.jpg")"/>
		</div>                               
	</div>	
</div>
<div class="row">				
	<div class="span12 topheader">
		<b>Eradicate absolute poverty by 2030</b>
	</div>	
</div>
<div class="row">
	<div class="span12">
		<div class="counter-straight">@counter</div>
	</div>
</div>
<div class="thankyou">
	<div class="row">
		<div class="span8" id="thankyouModal" >
				<div class="subheader">						
					<b>Thank you!</b>
				</div>
				<div class="text-content tab-text">
					You were already registered with you profile, and we are most grateful for your support.
					Multiply your impact and share with your friends!							
				</div>
		</div>
	</div>
</div>