@(counter: String)

<div class="container">
			<div class="row-fluid">				
				<div class="span4 imgheader">
					<img src="@routes.Assets.at("images/stoppoverty_ny.jpg")"/>                                
				</div>	
			</div>
			<div class="row-fluid">
				<div class="span7 subheader">
					<b>Eradicate absolute poverty by 2030</b>
				</div>			
				<div class="row-fluid">
					<div class="counter">@counter</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<button class="signup" >Sign the Stop Poverty petition</button>
				</div>
			</div>
			<div class="row-fluid visible-desktop">
				<div class="span3" >
					<img src="@routes.Assets.at("images/instagram-logo.jpg")"  width="25%"/>
					<b class="instagram">#stoppoverty</b>
				</div>
				<div class="span6 ">
					<!-- SnapWidget -->					
					<iframe src="http://snapwidget.com/in/?h=c3RvcHBvdmVydHl8aW58MTAwfDV8MXx8eWVzfDV8bm9uZQ==" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:575px; height: 115px" ></iframe>	
					<!-- SnapWidget -->
				</div>
			</div>
			<div class="row-fluid">
					<div class="span6 offset0">
						<ul class="nav nav-tabs">
						  <li class="active"><a href="#news" data-toggle="tab">News</a></li>
						  <li><a href="#about" data-toggle="tab">About</a></li>
						  <li><a href="#you" data-toggle="tab">What can you do</a></li>
						</ul>
						<div class="tab-content text-content">
						  <div class="tab-pane active" id="news">
						  <p class="subheader">Zero poor in 2030 </p>
						  <p>The Earth has enough resources for everybody to live dignified lives. However, man-made policies have createt unjust distribution of resources. As a result, 2.6 billion live in absolute poverty.</p>
						  
						  <p>We ask all state leaders to commit to: </p>
						  <ol>
							<li>
								Eradicating absolute poverty by 2030.
							</li>
							<li>
								Formulating and implementing poverty eradicating policies that are based on justice and human rights.
							</li>
							<li>
								Pushing for ambitious and binding Sustainable Development Goals.
							</li>
						  </ol>
						  </div>
						  <div class="tab-pane" id="about">Description</div>
						  <div class="tab-pane" id="you">Description</div>
						</div>
					</div>
				<!--  <div class="span3 facebook fb-like-box" data-href="https://www.facebook.com/stoppoverty2030" data-width="295" data-show-faces="true" data-stream="true" data-show-border="true" data-header="true"> </div> -->
			</div>					 
			 
		</div><!--end container-fluid -->		