@(counter: String)

<div class="container">
			<div id="fb-root"></div>			
			<div class="center">
				@bodyincludetop(counter)
				<div class="row">
					<div class="span12">
						<a href="#" class="btn signup" data-toggle="modal" data-target="#signatureModal" ><b>Sign the Stop Poverty petition</b></a>
					</div>
					<div class="modal hide fade" id="signatureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
							<h3 id="myModalLabel">Sign Stop Poverty Petition</h3>
						</div>
						<div class="modal-body">
							@signNoFB()						
						</div>
					</div>
				</div>
			</div>		
			<div class="row visible-desktop insta">
				@instagram()
			</div>
			<div class="row">
				@textcontent()	
				<div class="span3 facebook fb-like-box" data-href="https://www.facebook.com/stoppoverty2030" data-width="295" data-show-faces="true" data-stream="true" data-show-border="true" data-header="true"> </div>
			</div>					 
			 
		</div><!--end container-fluid -->		
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>	
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery-instagram.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/customvalidate.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/facebook-init.js")" type="text/javascript"></script>
</body>