@(title: String)

<head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        
        <meta property="og:title" content="@title" />        
        <meta property="og:description" content="Join in eradicating absolute poverty by 2030" />
        <meta property="og:image" content="http://wwww.stoppoverty.com@routes.Assets.at("images/stoppoverty_og_logo.jpg")" />
        <meta property="og:image:secure_url" content="http://wwww.stoppoverty.com@routes.Assets.at("images/stoppoverty_og_logo.jpg")" />
        <meta property="og:url" content="http://wwww.stoppoverty.com" />
        
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/stoppovertylogo.jpg")">
        
</head>
<body>