<div class="span8 text-content">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#news" data-toggle="tab">News</a></li>
	  <li><a href="#about" data-toggle="tab">About</a></li>
	  <li><a href="#you" data-toggle="tab">What can you do</a></li>
	</ul>
	<div class="tab-content tab-text">
	 	<div class="tab-pane active" id="news">
		  	<p class="subheader">Zero poor in 2030 </p>
		  	<p>The Earth has enough resources for everybody to live dignified lives. However, man-made policies have createt unjust distribution of resources. As a result, 2.6 billion live in absolute poverty.</p>
		  
		  	<p>We ask all state leaders to commit to: </p>
		  	<div>
				<ol>
					<li>
						Eradicating absolute poverty by 2030.
					</li>
					<li>
						Formulating and implementing poverty eradicating policies that are based on justice and human rights.
					</li>
					<li>
						Pushing for ambitious and binding Sustainable Development Goals.
					</li>
			  	</ol>
		  	</div>
		</div>
		<div class="tab-pane" id="about">Description</div>
		<div class="tab-pane" id="you">Description</div>
	</div>
</div>