<div class="span8 text-content">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#news" data-toggle="tab">News</a></li>
	  <li><a href="#about" data-toggle="tab">About</a></li>
	  <li><a href="#who" data-toggle="tab">Who?</a></li>
	  <li><a href="#you" data-toggle="tab">What can you do</a></li>
	  <li><a href="#contact" data-toggle="tab">Contact</a></li>
	</ul>
	<div class="tab-content tab-text">
	 	<div class="tab-pane active" id="news">
	 		The Stop Povety campaign is active at the YE festival in Prague. Join the Stop Poverty campaign!
	 		<ul>
				<li>Stop by the expo at the "peace, democracy, justice" theme park</li>
				<li>Join the Love 2 Change - Stop Poverty show</li>
			</ul>
		  	
		</div>
		<div class="tab-pane" id="about">
			<p class="subheader">Zero poor in 2030 </p>
		  	<p>The Earth has enough resources for everybody to live dignified lives. However, man-made policies have createt unjust distribution of resources. As a result, 2.6 billion live in absolute poverty.</p>
		  
		  	<p>We ask all state leaders to commit to: </p>
		  	<div>
				<ol>
					<li>
						Eradicating absolute poverty by 2030.
					</li>
					<li>
						Formulating and implementing poverty eradicating policies that are based on justice and human rights.
					</li>
					<li>
						Pushing for ambitious and binding Sustainable Development Goals.
					</li>
			  	</ol>
		  	</div>
		</div>
		<div class="tab-pane" id="who">
			<p>The initiator of the Stop Poverty campaign is Y Global of Norway. </p>
			<p>The goal of Stop Poverty is to build a broad coalition of civil society organisations that will advocate to stop poverty together.</p>			
		</div>
		<div class="tab-pane" id="you">
			<p class="subheader">Get involved!</p>
			<p>
			At the YE festival you can join seminars to learn more about the campaign.
			Join the Love 2 Change-Stop poverty show at the main stage on August 7th.
			</p>
			
			<p>
			Make your YMCA and YWCA a part of the Stop Poverty campaign!
			</p>			
		</div>
		<div class="tab-pane" id="contact">
			<a href="mailto:sven.larsen&#64;kfuk-kfum.no" >sven.larsen&#64;kfuk-kfum.no</a>			
		</div>
	</div>
</div>