@(title: String)(counter: String)

@head(title)
<div class="container center">
				<div class="center">
					@bodyincludetop(counter)
					<div class="row">	
						<div class="span12 subheader">
							<b>Thanks for signing! Your signature takes us one step towards a just world.
							Multiply your impact and share with your friends!</b>
						</div>
					</div>
				</div>			
				<div class="row" >
					<div class="form-actions">							
							<a class="uibutton large confirm" href="#" 
							  onclick="
							    window.open(
							      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
							      'facebook-share-dialog', 
							      'width=626,height=436'); 
							    return false;">
							  Share on Facebook
							</a>
														
							<a href="@routes.Application.index" class="uibutton large" >No thank you!</a>
										
					</div>						
				</div>
							
	</div>
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>	
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>	
</body>
</html>

